### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.xml

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace
go.work
go.work.sum

# Environment variables and secrets
.env

# Cipher key files
.cipher_key
.cipher_ciphertext

# IDEs
.idea
.vscode
launch.json

# System files
.DS_Store

# Compiled files
dist
release
.sandboxes

# Local testing environments
test_*

# Installed skills
.agents/skills

# Task generated
.task

# Worktree
.worktrees

# Generated autocomplete script
completions

# Logs
*.log

# Lucy ephemeral sessions
bisect.json
*.disabled

# Secrets
.env.local
